<section class="features">
  <div class="container">
    <div class="card">
      <img src="/images/qboa-cert.png" alt="logo" />
      <h3>You'll Save Time and Money!</h3>
      <p>
        We use QuickBooks Online and have ProAdvisor Advanced certifications
        from Intuit. You'll get a knowledgeable, productive bookkeeper to
        get things done in a timely manner. You'll also benefit from
        discounted QuickBooks Online subscription rates that we pass on to
        you.
      </p>
    </div>

    <div class="card">
      <img src="/images/qboa-cert.png" alt="logo" />
      <h3>Benefit 2</h3>
      <p>What makes this benefit possible?</p>
    </div>

    <div class="card">
      <img src="/images/qboa-cert.png" alt="logo" />
      <h3>Benefit 3</h3>
      <p>What makes this benefit possible?</p>
    </div>
  </div>
</section>