<div class="header-background">
  <header class="header">
    <nav class="navbar">
      <a class="nav-branding" href="/">
        <img class="logo-image" src="/images/logo.svg" alt="logo" />
      </a>
      <ul class="nav-menu" id="nav-menu">
        <li class="nav-item">
          <a class="nav-link" href="/about/">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog/">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
      <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </nav>
  </header>
</div>
