 <div class="showcase-background">
      <section class="showcase">
        <div class="hero">
          <div class="showcase-text">
            <h1 class="hero-heading">
              Want More Time to Focus on Your Business?
            </h1>
            <p>
              We've Got Your Back<br />With Accurate and Cost Effective
              Bookkeeping Solutions!
            </p>
            <button class="cta-button">Get Started</button>
          </div>
          <div class="hero-image-container">
            <img class="hero-image" src="/images/rocket.svg" alt="" />
          </div>
        </div>
      </section>
    </div>