 <!-- <div class="showcase-background">
      <section class="showcase">
        <div class="hero">
          <div class="showcase-text">
            <h1 class="hero-heading">
              Want More Time to Focus on Your Business?
            </h1>
            <p>
              We've Got Your Back<br />With Accurate and Cost Effective
              Bookkeeping Solutions!
            </p>
            <button class="cta-button">Get Started</button>
          </div>
          <div class="hero-image-container">
            <img class="hero-image" src="/images/rocket.svg" alt="" />
          </div>
        </div>
      </section>
    </div> -->
      <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/images/rocket.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Want More Time to Focus on Your Business?</h1>
        <p class="lead">We've Got Your Back With Accurate and Cost Effective
              Bookkeeping Solutions!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Let's Get Started</button>
        </div>
      </div>
    </div>
  </div>