<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <!-- Header section -->
    <div class="header-background">{{ partial "header.html" . }}</div>
    <!-- Hero Section -->
    <div class="showcase-background">
      <section class="showcase">
        <div class="hero">
          <div class="showcase-text">
            <h1 class="hero-heading">
              Want More Time to Focus on Your Business?
            </h1>

            <p>
              We've Got Your Back<br />With Accurate and Cost Effective
              Bookkeeping Solutions!
            </p>
            <button class="cta-button">Get Started</button>
          </div>
          <div>
            <img class="hero-image" src="/images/rocket.svg" alt="" />
          </div>
        </div>
      </section>
    </div>

    <section class="features">
      <div class="container">
        <div class="card">
          <h3>You'll Save Time and Money!</h3>
          <p>
            We use QuickBooks Online and have ProAdvisor Advanced certifications
            from Intuit. You'll get a knowledgeable, productive bookkeeper to
            get things done in a timely manner. You'll also benefit from
            discounted QuickBooks Online subscription rates that we pass on to
            you.
          </p>

          <img src="/images/qboa-cert.png" alt="logo" />
        </div>
        <div class="card">
          <h3>Better Business Management</h3>
          <p>
            With accurate and timely reporting, you're able to make informed and
            timely business decisions, and benefit from early detection of
            issues.
          </p>
        </div>
        <div class="card">
          <h3>Tax Preparation and Planning</h3>
          <p>
            By outsourcing bookkeeping to a virtual service, small businesses
            can save valuable time and money. This allows business owners to
            focus on core operations and growth strategies while avoiding the
            overhead costs associated with hiring in-house staff.
          </p>
        </div>
        <div class="card">
          <h3>Payroll Management</h3>
          <p>
            Virtual bookkeepers often provide valuable financial insights and
            reports. They analyze your financial data and generate reports that
            help you make informed decisions. This includes identifying areas
            for cost reduction, optimizing cash flow, and planning for future
            financial growth.
          </p>
        </div>
      </div>
    </section>

    <section class="page-content">
      <div class="container">
        <h2>Get Started With RM Bookkeeping Services</h2>
        <p>
          Get a new Astro project up and running locally with our helpful
          create-astro CLI wizard!
        </p>
        <!-- Tabs
        <div class="tabs">
          <ul class="tabs-header">
            <li class="default-tab">NPM</li>
            <li>PNPM</li>
            <li>YARN</li>
          </ul>
          <ul class="tabs-content">
            <li class="tab">
              <code>$ npm create astro@latest</code>
            </li>
            <li class="tab">
              <code>$ pnpm create astro@latest</code>
            </li>
            <li class="tab">
              <code>$ yarn create astro</code>
            </li>
          </ul>
        </div> -->

        <h3>Start Building</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsum
          deserunt inventore ut voluptate, officia maiores repellat tenetur
          praesentium omnis est ex tempora a necessitatibus reiciendis at et
          dignissimos. Ipsam eius consequuntur cupiditate aperiam porro, esse
          laborum impedit nesciunt ut voluptatum assumenda aspernatur libero
          iusto error molestias dolorum, necessitatibus labore?
        </p>
      </div>
    </section>
    {{ partial "footer.html" . }}
  </body>
</html>
